.mrai-certificate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 80px;
}
.sechead {
   
    position: relative;
    /* transform: translateX(-100%); */
}
