.mainBanner {
    overflow: hidden;
}
.mainBanner .overflowSection {
    height: auto;
}
.mainBanner {
    overflow: hidden;
    padding-bottom: 0 !important;
    padding-top: 270px;
}.bannerContent.aosAnim .leftBannerCont,
.aosAnim.ltr h2,
.keyNumber .aosAnim.ltr h3,
.ltr.sechead h3,
.section.ltr .sechead p,
.section.ltr .cultureRow .imgBox,
.addr.aosAnim.ltr,
.aosAnim.titleText,
.testSec.ltr .titleText,
.footerSection .footerBlockLeft.aosAnim.ltr,
.section.ltr .mapleft,
.titleText.aosAnim,
.aosAnim.ltr .founderCont,
.exploreSectionWrap .listWrap.ltr .listMenuWrap,
.testSec.ltr .sechead h3,
.detailsRow.aosAnim .detailsMain,
.detailsRow.aosAnim h2,
.eventHead.ltr,
.tabheadC.ltr {
    opacity: 0;
    animation: fade-slide-in-ltr 0.8s linear forwards;
}
.teamBoxWrap.ltr {
    opacity: 0;
    animation: from-right-in 0.8s linear forwards;
}.bannerLeft .newDiv {
    color: #303030;
    margin-top: 12px;
    margin-bottom: 60px;
    font-size: 28px;
    font-weight: 500;
}.bannerLeft h2 {
    line-height: 84px;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 30px;
}

.bannerRight {
   
    z-index: 5;
    position: relative;
}

.bannerPoly a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
}.col-lg-12 {
width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    /* flex: 0 0 100%;
    max-width: 100%; */
    position: relative;
}.teamBoxWrap.ltr {
    opacity: 0;
    animation: from-right-in 0.8s linear forwards;
}.teamBoxWrap {
    display: flex;
}.teamBoxWrap .slick-list {
    padding: 0 0 0 15px;}
        .slick-list {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }.slick-track {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }.slick-track:before,
        .slick-track:after {
            display: table;
            content: '';
        }
                .slick-slide {
                    display: block;
                    float: left;
                    height: 100%;
                    min-height: 1px;
                }
                                .teamBoxWrap .imgBoxHolder .yearTitle {
                                    display: block;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: var(--thm-black);
                                    position: relative;
                                }.teamBoxWrap .imgBoxHolder .yearTitle:after {
                                    position: absolute;
                                    content: "";
                                    height: 1px;
                                    width: 100%;
                                    background-image: url(../../../assets/images/career/border-Bg.jpg);
                                    background-repeat: repeat-x;
                                    background-position: 0 0;
                                    bottom: -40px;
                                    left: -10px;
                                }.teamBoxWrap .imgBoxEach {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    border-radius: 8px;
                                    background: #e8f2f8;
                                    margin-top: 80px;
                                    margin-right: 40px;
                                }.teamBoxWrap .imgBoxEach:before {
                                    width: 40px;
                                    height: 40px;
                                    background: #e8f2f8;
                                    left: -15px;
                                    top: -62px;
                                    position: absolute;
                                        content: "";
                                        border-radius: 50%;
                                }.teamBoxWrap .imgBoxEach .imgBox {
                                    width: 100px;
                                    height: 100px;
                                }.teamBoxWrap .imgBoxEach .imgCont {
                                    width: 120px;
                                    height: 100px;
                                    padding: 8px 12px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }.teamBoxWrap .imgBoxEach .imgCont p {
                                    font-weight: 600;
                                    line-height: 28px;
                                    color: #303030;
                                    font-size: 16px;
                                }.teamBoxWrap .imgBoxEach:after {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, #1579be 0%, rgba(21, 121, 190, 0.6) 100%);
    left: -5px;
    top: -52px;
}
/*new*/
.triangleTopLeftBg {
    width: 100%;
    position: relative;
    background-color: #d0e4f2;
   
}.col-lg-12 {
 /* flex: 0 0 100%;
    max-width: 100%;position: relative; */
        width: 100%;
        padding-right: 15px;
        padding-left: 15px
}.teamBoxWrap.ltr {
    opacity: 0;
    animation: from-right-in 0.8s linear forwards;
}.teamBoxWrap {
    display: flex;
}.teamBoxWrap .slick-list {
    padding: 0 0 0 15px;
}.slick-slider .slick-list {
  
    transform: translate3d(0, 0, 0);
}.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}.slick-initialized .slick-slide {
    display: block;float: left;
        height: 100%;
        min-height: 1px;
}.teamBoxWrap .imgBoxHolder .yearTitle {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--thm-black);
    position: relative;
}.teamBoxWrap .imgBoxHolder .yearTitle:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-image: url(../../../assets/images/career/border-Bg.jpg);
    background-repeat: repeat-x;
    background-position: 0 0;
    bottom: -40px;
    left: -10px;
}.teamBoxWrap .imgBoxEach {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #e8f2f8;
    margin-top: 80px;
    margin-right: 40px;
}.teamBoxWrap .imgBoxEach:before {
    width: 40px;
    height: 40px;
    background: #e8f2f8;
    left: -15px;
    top: -62px;
}.teamBoxWrap .imgBoxEach .imgBox {
    width: 100px;
    height: 100px;
}.teamBoxWrap .imgBoxEach .imgBox img {
    width: 100%;
}.slick-slide img {
    display: block;
}.teamBoxWrap .imgBoxEach .imgCont {
    width: 120px;
    height: 100px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}.teamBoxWrap .imgBoxEach .imgCont p {
    font-weight: 600;
    font-size: 16px;
        line-height: 28px;
}.teamBoxWrap .imgBoxEach:after {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, #1579be 0%, rgba(21, 121, 190, 0.6) 100%);
    left: -5px;
    top: -52px;
        content: "";
            border-radius: 50%;
}.slick-slide {
    display: block;
    float: left;
    height: 100%;
    min-height: 1px;
}.teamBoxWrap .imgBoxHolder .yearTitle {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--thm-black);
    position: relative;
}.teamBoxWrap .imgBoxHolder .yearTitle:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-image: url(../../../assets/images/career/border-Bg.jpg);
    background-repeat: repeat-x;
    background-position: 0 0;
    bottom: -40px;
    left: -10px;
}.teamBoxWrap .imgBoxEach {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #e8f2f8;
    margin-top: 80px;
    margin-right: 40px;
}.teamBoxWrap .imgBoxEach .imgCont {
    width: 120px;
    height: 100px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}.teamBoxWrap .imgBoxEach .imgCont p {
    font-weight: 600;
    font-size: 16px;line-height: 28px;
}.teamBoxWrap .imgBoxEach:after {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, #1579be 0%, rgba(21, 121, 190, 0.6) 100%);
    left: -5px;
    top: -52px;
}.slick-track:after {
    clear: both;display: table;
        content: '';
}

@media (min-width: 992px) {.col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}}@media only screen and (max-width: 768px) {.innerBanner {
    padding: 50px 0 50px;
}}@media (max-width: 575px){ .teamSectionWrap {
    padding-bottom: 80px !important;
}}