.home-template{
  color: #303030;
    font-size: 20px;
    line-height: 38px;
    overflow-x: hidden;
        font-weight: 400;
}

  .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
